{% extends "template.twig" %}

{% block header_button_left %}
    <a href="{{ '/' | toUrl }}" data-icon="home" data-ajax="false">home</a>
{% endblock %}

{% block content %}
    <p align="center">Sorry this project is private</p>
{% endblock %}