{% extends "template.twig" %}

{% block header_button_left %}
    <a href="{{ parent_url }}" data-icon="back" data-ajax="false">{{ parent }}</a>
{% endblock %}

{% block content %}
    <p align="center">Sorry this project is private</p>
{% endblock %}