<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

    <title>OTA - Upload</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2>Upload de fichier</h2>

    <form method="post" action="#" enctype="multipart/form-data" class="form-horizontal">

        <div class="control-group">
            <label class="control-label" for="inputPlateforme">Choix de la plateforme</label>

            <div class="controls">
                <select id="plateforme">
                    {% for plateforme in plateformes %}
                        <option value="{{ plateforme.id }}">{{ plateforme.nom }}</option>
                    {% endfor %}
                </select>
                <a href="#" id="plateforme_ok" class="btn">ok</a>
            </div>
        </div>

        <div class="dossiers">
            <div class="control-group dossier-group">
                <label class="control-label" for="inputPlateforme">Dossier</label>

                <div class="controls">
                    <select class="dossier">

                    </select>
                    <a href="#" class="dossier_ok btn">ok</a>
                <span class="nouvelle_application">
                    ou un chemin
                    <input type="text" name="application" class="input" placeholder="nom du dossier"/>
                </span>
                </div>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="inputPlateforme">Application (ipa/apk)</label>

            <div class="controls">
                <input type="file" name="filedata" id="file">
            </div>
        </div>

        <br/>


        <div class="form-actions">
            <input type="hidden" name="MAX_FILE_SIZE" value="52428800">
            <input type="submit" value="Envoyer" class="btn btn-primary">
        </div>


    </form>
</div>
<script type="text/javascript">

    var url = '';
    var plateforme = '';
    var application = '';
    var section = '';
    var build = '';
    $(function () {
        $(".nouvelle_application").hide();

        plateforme = $('#plateforme').val();


        var getCurrentPlateforme = function () {
            plateforme = $.trim($('#plateforme').val());
            return plateforme;
        };

        var getCurrentApplication = function () {
            application = $.trim($(".dossier").val());
            if (!application) {
                application = $.trim($("#nouvelle_application input").val());
                if (!application) {
                    throw {'message': 'Merci de choisir une application'};
                }
            }
            return application;
        };

        var uploadApplication = function (event) {
            try {
                var dossiers = $.map($(".dossier-group"), function (div) {
                    var div = $(div);
                    if (div.find('.dossier').val()) {
                        return div.find('.dossier').val();
                    } else {
                        return div.find('input').val();
                    }
                });
                var url = 'apps/' + getCurrentPlateforme() + '/' + dossiers.join('/');
                if ($.trim($("#file").val()) == '') {
                    throw {'message': 'Merci de choisir un fichier apk ou ipa'};
                }

                $("form").attr('action', url);
            } catch (e) {
                alert(e.message);
                event.preventDefault();
            }

        };


        var getApplications = function (event) {
            plateforme = getCurrentPlateforme();
            $(".dossier").html('');

            $.getJSON('apps/' + plateforme, function (folder) {
                $.each(folder.folders, function (index, value) {
                    $(".dossier").append($('<option>').text(value).attr('value', value));
                });
                $(".dossier").append($('<option>').text('ajouter...').attr('value', ''));

            });
            if (event) {
                event.preventDefault();
            }
        };

        var getSections = function (event) {
            var parent = $(this).parents('.dossier-group');
            var elt = parent.find('.dossier');

            application = elt.val();

            if (application == '') {
                parent.find('.nouvelle_application').show();
                parent.nextAll().remove();
            } else {
                parent.find('.nouvelle_application').hide();


                $.getJSON('apps/' + plateforme + '/' + application, function (folder) {

                    parent.nextAll().remove();

                    var nouveauGroupe = $(".dossiers").last('.dossier-group').clone(true);
                    nouveauGroupe.find('option')
                            .remove();
                    var select = nouveauGroupe.find('.dossier');

                    $.each(folder.folders, function (index, value) {
                        select.append($('<option>').text(value).attr('value', value));
                    });
                    select.append($('<option>').text('ajouter...').attr('value', ''));
                    $(".dossiers").append(nouveauGroupe);

                });
            }
            event.preventDefault();
        };


        var chooseFile = function (event) {
            var file = this.files[0];
            var name = file.name;
            var extension = name.split('.').pop();
            if (extension != 'apk' && extension != 'ipa') {
                alert('Désolé, seuls les fichiers .apk et .ipa sont autorisés');
                $(this).val("");
            }
        };

        $("#plateforme_ok").on('click', getApplications);
        $("#plateforme").on('change', getApplications);

        $(".dossier_ok").on('click', getSections);
        $(".dossier").on('change', getSections);

        $("#file").on('change', chooseFile);

        $('form').on('submit', uploadApplication);

        getApplications();
    });
</script>

</body>
</html>