<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ "app/public/css/jquery.mobile.min.css"|toUrl }}"/>
    <script src="{{ "app/public/js/jquery.min.js"|toUrl }}"></script>

    <script src="{{ "app/public/js/jquery.mobile.min.js"|toUrl }}"></script>
    <title>OTA</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
</head>
<body>
<div data-role="page">

    <div data-role="header">
        {% block header_button_left %}{% endblock %}
        {% block header %}<h1>OTA</h1>{% endblock %}
        {% block header_button_right %}{% endblock %}
    </div>

    <div data-role="content">
        {% block content %}{% endblock %}
    </div>

</div>
<!-- /page -->

</body>
<script type="text/javascript">
    $(function () {
        window.addEventListener("load", function () {
            setTimeout(function () {
                window.scrollTo(0, 1);
            }, 0);
        });
    })
</script>
</html>